[Unit]
Description=File Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/fileserver/fileserverstart.sh
#Restart=on-failure
#ExecStop=/bin/kill -9 $MAINPID
#ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
